extends ../_template

block content
  .container
    h1 Portfolio
    .row.mb-4
      each portfolioItem in portfolioData
        .col-12.col-sm-6.col-md-4
          .card.mb-3
            .card-body
              h5(
                class="card-title"
              )= portfolioItem.title
              p(
                class="card-text"
              )= portfolioItem.description
              .d-flex.justify-content-between
                a.card-link.btn.btn-primary(
                  href='/portfolio/' + portfolioItem.id
                ) Open Portfolio
                a.card-link.btn.btn-warning(
                  href='/edit-portfolio/' + portfolioItem.id
                ) Edit Portfolio
              form.delete-request.mt-3.p-0(action="/delete-portfolio" method="POST" enctype="application/x-www-form-urlencoded")
                input(type="hidden", name="id" value=portfolioItem.id)
                button(type="submit").card-link.btn.btn-danger Delete Portfolio
